{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/comment_form.css' %}" />
{% endblock %}
{% block title %}Edit Comment{% endblock %}
{% block content %}
<section class="comment-form-section">
  <h2>Edit Comment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Save Changes</button>
    <a href="{{ object.post.get_absolute_url }}" class="btn">Cancel</a>
  </form>
</section>
{% endblock %}