{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/post_form.css' %}" />
{% endblock %}
{% block title %}Create Song of the Day{% endblock %}

{% block content %}
<div class="post-form-container">
  {% if object %}
  <h1>Edit {{ object.post_title }}</h1>
  {% else %}
  <h2>Create Song of the Day Post</h2>
  {% endif %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}