{% extends "base.html" %}
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/post_index.css' %}" />
{% endblock %}
{% block title %}Song of the Day{% endblock %}

{% block content %}
<h1>Song of the Day Posts</h1>
{% for post in posts %}
    <div>
        <h2>{{ post.post_title }}</h2>
        <p>Song: {{ post.song.title }} by {{ post.song.artist }}</p>
        <p>Posted by: {{ post.user.username }}</p>
        <a href="{% url 'song_of_the_day_detail' post.id %}">View Details</a>
    </div>
{% endfor %}
{% endblock %}
