{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/followers.css' %}" />
{% endblock %}
{% block title %}Followers of {{ user.username }}{% endblock %}
{% block content %}
<section class="followers-section">
  <h1>Followers of {{ user.username }}</h1>
  <ul class="followers-list">
    {% for follower in followers %}
    <li class="follower-item">
      <!-- Profile Picture -->
      <div class="profile-picture">
        {% if follower.profile.profile_picture %}
        <img src="{{ follower.profile.profile_picture }}" alt="{{ follower.user.username }}">
        {% else %}
        <img src="{% static 'images/profilepic.jpeg' %}" alt="{{ follower.user.username }}">
        {% endif %}
      </div>

      <!-- Username -->
      <div class="user-info">
        <a href="{% url 'profile' follower.user.id %}">{{ follower.user.username }}</a>
      </div>
    </li>
    {% empty %}
    <p>No followers yet.</p>
    {% endfor %}
  </ul>
  <a href="{% url 'profile' user.id %}" class="btn">Back to Profile</a>
</section>
{% endblock %}