{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/my_profile.css' %}" />
{% endblock %}

{% block content %}
<section class="profile-section">
  <div class="profile-header">
    <!-- Profile Picture -->
    {% if user.profile.profile_picture %}
    <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}" class="profile-picture">
    {% else %}
    <img src="{% static 'images/profilepic.jpeg' %}" alt="{{ user.username }}" class="profile-picture">
    {% endif %}

    <h1>{{ user.username }}'s Profile</h1>
  </div>

  <div class="profile-stats">
    <div class="stat-card">
      <h2>Total Playlists</h2>
      <p>{{ playlists_count }}</p>
    </div>
    <div class="stat-card">
      <h2>Total Posts</h2>
      <p>{{ posts_count }}</p>
    </div>
  </div>

  <div class="profile-actions">
    <a href="{% url 'my_playlists' %}" class="btn">My Playlists</a>
    <a href="{% url 'my_posts' %}" class="btn">My Posts</a>
  </div>
</section>

{% endblock %}
