{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>{{ user.username }}'s Profile</h1>

<div>
    {% for playlist in playlists %}
        <div>
                <img src="{{ playlist.playlist_cover }}" alt="{{ playlist.name }}">
            <div>
                <h3>{{ playlist.name }}</h3>
                <p>{{playlist.description}}</p>
                <a href="{% url 'playlist-detail' playlist.id %}">View Details</a>
            </div>
        </div>
    {% endfor %}
</div>

<div>
  {% for post in posts %}
      <div>
              <img src="{{ post.post_image }}" alt="{{ post.post_title }}">
          <div>
              <h3>{{ post.post_title }}</h3>
              <p>{{post.date_posted}}</p>
              <a href="{% url 'song_of_the_day_detail' post.id %}">View Details</a>
          </div>
      </div>
  {% endfor %}
</div>
{% endblock %}