{% extends "base.html" %}
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/my_playlist.css' %}" />
{% endblock %}
{% block title %}My Playlists{% endblock %}

{% block content %}
  <h2>My Playlists</h2>
  
  <p><a href="{% url 'playlist_create' %}">Create a new playlist</a></p>
  
  {% if playlists %}
    <ul>
      {% for playlist in playlists %}
        <li>
          <img src="{{ playlist.playlist_cover.url }}" alt="{{playlist.name}} cover image">
          <a href="{% url 'playlist-detail' playlist.pk %}">{{ playlist.name }}</a>
          
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't created any playlists yet. Start by creating one!</p>
  {% endif %}
{% endblock %}
