{% extends "base.html" %}
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/playlist_index.css' %}" />
{% endblock %}
{% block title %}Playlists{% endblock %}

{% block content %}
<h1>Playlists</h1>
{% for playlist in playlists %}
    <div>
        <img src="{{ playlist.playlist_cover.url }}" alt="{{playlist.name}} cover image">
        <h2>{{ playlist.name }}</h2>
        <p>{{ playlist.description }}</p>
        <p>Created by: {{ playlist.user.username }}</p>
        <a href="{% url 'playlist-detail' playlist.id %}">View Details</a>
    </div>
{% endfor %}

{% endblock %}
