{% extends "base.html" %}
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/playlist_detail.css' %}" />
{% endblock %}
{% block title %}{{ playlist.name }}{% endblock %}

{% block content %}
  <h2>{{ playlist.name }}</h2>
  <p>{{ playlist.description }}</p>
  
  <h3>Songs in this Playlist</h3>
  <ul>
    {% for song in playlist.songs.all %}
      <li>{{ song.title }} by {{ song.artist }}
        <a href="{% url 'remove-from-playlist' playlist.id song.id %}">Remove</a>
      </li>
    {% empty %}
      <li>No songs in this playlist yet.</li>
    {% endfor %}
  </ul>
  {% if user == playlist.user %}
    <a href="{% url 'playlist_update' playlist.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'playlist_delete' playlist.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endblock %}
