{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/playlist_detail.css' %}" />
{% endblock %}
{% block title %}{{ playlist.name }}{% endblock %}

{% block content %}
<section class="playlist-detail-section">
  <!-- Playlist Header -->
  <div class="playlist-header">
    <div class="playlist-cover">
      {% if playlist.playlist_cover %}
      <img src="{{ playlist.playlist_cover.url }}" alt="{{ playlist.name }} cover image">
      {% else %}
      <img src="{% static 'images/playlist-cover.webp' %}" alt="Default playlist cover">
      {% endif %}
    </div>
    <div class="playlist-info">
      <h2>{{ playlist.name }}</h2>
      <p>{{ playlist.description }}</p>
    </div>
    <div class="playlist-actions">
      <button class="btn btn-primary play-btn">Play</button>
      <button class="btn btn-secondary shuffle-btn">Shuffle</button>
    </div>
  </div>

  <!-- Songs List -->
  <div class="songs-list">
    <h3>Songs in this Playlist</h3>
    {% if playlist.songs.all %}
    <ul>
      {% for song in playlist.songs.all %}
      <li class="song-item">
        <div class="song-info">
          <p>{{ song.title }} by {{ song.artist }}</p>
        </div>
        {% if user == playlist.user %}
        <div class="song-actions">
          <a href="{% url 'remove-from-playlist' playlist.id song.id %}" class="btn btn-danger">Remove</a>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No songs in this playlist yet.</p>
    {% endif %}
  </div>

  <!-- Playlist Edit/Delete Actions -->
  {% if user == playlist.user %}
  <div class="playlist-edit-actions">
    <a href="{% url 'playlist_update' playlist.id %}" class="btn btn-primary">Edit Playlist</a>
    <a href="{% url 'playlist_delete' playlist.id %}" class="btn btn-danger">Delete Playlist</a>
  </div>
  {% endif %}
  <div class="back-button">
    <a href="{% url 'playlist-index'  %}" class="btn btn-back">Back to Playlists</a>
  </div>

</section>

{% endblock %}