{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'images/splash.svg' %}" /> -->

  <title>Sonora</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header>
    <div class="header-logo-container">
      <!-- <a href="/">
        <img src="{% static 'images/header-logo.svg' %}" alt="The Cat Collector Logo" />
      </a> -->
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'song-index' %}">All Songs</a></li>
        <li><a href="{% url 'playlist-index' %}">All PlayLists</a></li>
        <li><a href="{% url 'song_of_the_day_index' %}">All Posts</a></li>
        <li><a href="{% url 'song_create' %}">Add a Song</a></li>
        <li><a href="{% url 'playlist_create' %}">Add a Playlist</a></li>
        <li><a href="{% url 'song_of_the_day_create' %}">Add Posts</a></li>
        <li><a href="{% url 'my_playlists' %}">My PlayLists</a></li>
        <li><a href="{% url 'my_posts' %}">My Posts</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 Sonora Music App</p>
  </footer>
</body>

</html>