{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/sonora-logo2.PNG' %}" />

  <title>Sonora</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <header class="page-header">
    <div class="header-logo">
      <a href="{% url 'home' %}">
        <img src="{% static 'images/sonora-logo2.PNG' %}" alt="Sonora Logo" />
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'song-index' %}">All Songs</a></li>
        <li><a href="{% url 'playlist-index' %}">All PlayLists</a></li>
        <li><a href="{% url 'song_of_the_day_index' %}">All Posts</a></li>
        <li><a href="{% url 'song_create' %}">Add a Song</a></li>
        <li><a href="{% url 'playlist_create' %}">Add a Playlist</a></li>
        <li><a href="{% url 'song_of_the_day_create' %}">Add Posts</a></li>
        <li><a href="{% url 'my-profile' %}">My Profile</a></li>
        <li><a href="{% url 'users-profiles' %}">Users</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'home' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 Sonora Music App</p>
  </footer>
</body>

</html>