{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}

<section class="login-section">
  <div class="login-container">
    <h1 class="login-title">Welcome Back</h1>
    <p class="login-subtitle">Log in to explore your music and playlists!</p>
    <form action="{% url 'home' %}" method="post" class="login-form">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
    <div class="register-link">
      <p>New here? <a href="{% url 'signup' %}" class="signup-link">Sign up now</a></p>
    </div>
  </div>
</section>

{% endblock %}