{% extends 'base.html' %} 
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock %} 

{% block content %}
<section class="signup-section">
  <div class="form-container">
    <h1 class="form-title">Sign Up</h1>
    {% if error_message %}
      <p class="form-error">{{ error_message }}</p>
    {% endif %}
    <form action="" method="post" autocomplete="off" class="signup-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_table }}
      </div>
      <button type="submit" class="btn btn-submit">Submit!</button>
    </form>
  </div>
</section>
{% endblock %}
