{% extends "base.html" %}
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}
{% block title %}{{ song.title }} Details{% endblock %}

{% block content %}
<h1>{{ song.title }}</h1>
<p>Artist: {{ song.artist }}</p>
<p>Album: {{ song.album }}</p>
<p>Genre: {{ song.get_genre_display }}</p>
<p>Duration: {{ song.formatted_duration}}</p>
<p>Release Date: {{ song.release_date }}</p>
{% if song.album_cover %}
<img src="{{ song.album_cover.url }}" alt="{{ song.title }} album cover">
{% endif %}
<a href="{% url 'playlist-index' %}">Back to Playlists</a>

<form method="post" action="{% url 'add-to-playlist' song.id %}">
  {% csrf_token %}
  <label for="playlist">Select Playlist:</label>
  <select name="playlist" id="playlist">
      {% for playlist in user.playlists.all %}
      <option value="{{ playlist.id }}">{{ playlist.name }}</option>
      {% endfor %}
  </select>
  <button type="submit">Add to Playlist</button>
</form>

<!-- Make Song of the Day Button -->
<a href="{% url 'create-song-of-the-day' song.id %}">Make Song of the Day</a>

<a href="{% url 'playlist-index' %}">Back to Playlists</a>
{% endblock %}
